# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/workspace.xml
core/target/
etc/survey/
integration/cdi/target/
integration/jca/target/
integration/tracing/tracing-htrace/target/
maven-plugins/archetypes/cxf-jaxrs-service/target/
maven-plugins/archetypes/cxf-jaxws-javafirst/target/
maven-plugins/archetypes/target/
maven-plugins/codegen-plugin/target/
maven-plugins/corba/target/
maven-plugins/java2wadl-plugin/target/
maven-plugins/java2ws-plugin/target/
maven-plugins/target/
maven-plugins/wadl2java-plugin/target/
maven-plugins/wsdl-validator-plugin/target/
osgi/bundle/compatible/target/
osgi/bundle/target/
osgi/itests-felix/target/
osgi/itests/target/
osgi/karaf/commands/target/
osgi/karaf/features/target/
osgi/karaf/target/
parent/target/
rt/bindings/coloc/target/
rt/bindings/corba/target/
rt/bindings/object/target/
rt/bindings/soap/target/
rt/bindings/xml/target/
rt/databinding/aegis/target/
rt/databinding/jaxb/target/
rt/databinding/jibx/target/
rt/databinding/sdo/target/
rt/databinding/xmlbeans/target/
rt/features/clustering/target/
rt/features/logging/target/
rt/features/metrics/target/
rt/features/throttling/target/
rt/frontend/jaxrs/target/
rt/frontend/jaxws/target/
rt/frontend/js/target/
rt/frontend/simple/target/
rt/javascript/javascript-rt/target/
rt/javascript/javascript-tests/target/
rt/javascript/target/
rt/management-web/target/
rt/management/target/
rt/rs/client/target/
rt/rs/description/target/
rt/rs/extensions/json-basic/target/
rt/rs/extensions/providers/target/
rt/rs/extensions/search/target/
rt/rs/http-sci/target/
rt/rs/security/cors/target/
rt/rs/security/jose-parent/jose-jaxrs/target/
rt/rs/security/jose-parent/jose/target/
rt/rs/security/oauth-parent/oauth/target/
rt/rs/security/oauth-parent/oauth2-saml/target/
rt/rs/security/oauth-parent/oauth2/target/
rt/rs/security/oauth-parent/target/
rt/rs/security/sso/oidc/target/
rt/rs/security/sso/saml/target/
rt/rs/security/xml/target/
rt/security-saml/target/
rt/security/target/
rt/transports/http-hc/target/
rt/transports/http-jetty/target/
rt/transports/http-netty/netty-client/target/
rt/transports/http-netty/netty-server/target/
rt/transports/http/target/
rt/transports/jms/target/
rt/transports/local/target/
rt/transports/udp/target/
rt/transports/websocket/target/
rt/ws/addr/target/
rt/ws/eventing/target/
rt/ws/mex/target/
rt/ws/policy/target/
rt/ws/rm/target/
rt/ws/security/target/
rt/wsdl/target/
security/
services/sts/sts-core/target/
services/sts/sts-war/target/
services/sts/systests/advanced/target/
services/sts/systests/basic/target/
services/sts/systests/sts-features/target/
services/sts/systests/sts-itests/target/
services/sts/systests/sts-osgi/target/
services/ws-discovery/ws-discovery-api/target/
services/ws-discovery/ws-discovery-service/target/
services/wsn/wsn-api/target/
services/wsn/wsn-core/target/
services/wsn/wsn-osgi/target/
services/xkms/xkms-client/target/
services/xkms/xkms-common/target/
services/xkms/xkms-features/target/
services/xkms/xkms-itests/target/
services/xkms/xkms-osgi/target/
services/xkms/xkms-service/target/
services/xkms/xkms-war/target/
services/xkms/xkms-x509-handlers/target/
services/xkms/xkms-x509-repo-ldap/target/
systests/cdi/target/
systests/container-integration/grizzly/target/
systests/container-integration/target/
systests/container-integration/webapp/target/
systests/databinding/target/
systests/jaxrs/target/
systests/jaxws/target/
systests/kerberos/target/
systests/rs-http-sci/target/
systests/rs-security/target/
systests/tracing/target/
systests/transport-jms/target/
systests/transports-ssl3/target/
systests/transports/target/
systests/uncategorized/target/
systests/ws-rm/target/
systests/ws-security-examples/target/
systests/ws-security/target/
systests/ws-specs/target/
systests/wsdl_maven/codegen/target/
systests/wsdl_maven/java2ws/target/
testutils/target/
tools/common/target/
tools/corba/target/
tools/javato/ws/target/
tools/validator/target/
tools/wadlto/jaxrs/target/
tools/wsdlto/core/target/
tools/wsdlto/databinding/jaxb/target/
tools/wsdlto/frontend/javascript/target/
tools/wsdlto/frontend/jaxws/target/
tools/wsdlto/misc/target/
tools/wsdlto/test/target/
